body {
    margin: 0px;
}

.parent {
    display: flex;
    flex-direction: column;
}

.topheader {
    display: inline-flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.headerlogo h1{
    font-size: 24px;
    color: #F9FAF8;
}

.headerlinks {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
    font-size: 18px;
    color: #E5E7EB;
}

.topheader ul {
    list-style: none;
}

.topheader a {
    padding: 0px 10px;
}

.websiteintrosection {
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.websiteintroinfo h1 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.websiteintroinfo p {
    font-size: 18px;
    color: #E5E7EB;
}

.websiteintroinfo button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.websiteintroimg img {
    height: 300px;
    width: 600px;
    padding-left: 30px;
}

.colorsection1 {
    color:white;
    background-color: #1F2937;
}

.pagecontent {
    padding: 0px 200px;
    align-items: center;
}

.introcardsection {
    padding: 40px 0px 75px;
}

.introcardsection h1 {
    text-align: center;
}

.introcards {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.introcard {
    border-radius: 15px;
    width: 250px;
    height: 325x;
    padding: 20px;
    text-align: center;
    
}

.introcard img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    border: 5px solid blue;
}

.introCTA {
    border-radius: 10px;
    background-color: #3882F6;
    height: 125px;
    width: 100%;
    margin: 50px 0px;
    display: flex;
    flex-direction: row;
}

.introCTAcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    width: 70%;
    font-size: 18px;
    color: #E5E7EB;
}

.introCTAcontent h3{
    margin-bottom: 0px;
}

.introCTAbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;

}

.introCTAbutton button{
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: bold;
    border: 2px white solid;
    border-radius: 10px;
}

.colorsection3 {
    background-color:lightgray;
}

.intromotto {
    padding: 100px 0px;
}

.intromotto p {
    float: right;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
    color: darkslategrey;
}

.introfooter {
    display: flex;
    justify-content: center;
}
